
<div class="modal fade" id="login_ajax" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

      <form action="{% url 'login_ajax' %}" method="post" id="login_form_ajax">{% csrf_token %}

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Авторизация</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
      </div>
    <div class="alert alert-danger d-none" role="alert"></div>
      <div class="modal-body">
          {% for f in login_ajax %}
              <label for="exampleInputEmail1" class="form-label">{{f.label}}</label>
              <p>{{ f }}</p>
              <div id="emailHelp" class="form-text"><font color="red">{{ f.errors }}</font></div>
          {% endfor %}
          {% for error in form.non_field_errors %}
              <div class="form-text"><font color="red">{{ error }}</font></div>
          {% endfor %}
      </div>

      <div class="modal-footer">
        <a href="{% url 'password_reset' %}" class="btn btn-link">Забыли пароль?</a>
        <button type="submit" class="btn btn-success">Войти</button>
      </div>

      </form>

    </div>
  </div>
</div>

