main {
    background: #C0C0C0;
}
aside {

    background: #C0C0C0;
    padding: 3%;
    height:80vh;
/*    color: #fff; */
}

.nav_cat {
    list-style: none;
    column-count: 4;
    height: 350px;
}
.nav_cat li {
  page-break-inside: avoid;
  break-inside: avoid;
}

.nav_cat_body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*
aside ul {list-style: none}

aside ul li {
    color: #fff;
    display: block;
    margin-top: 20px;
    transition: transform .6s ease;
}

aside ul li:hover, aside ul a:hover {
    color: #eb5959;
    text-decoration: none;
    transform: scale(1.05);
}
*/




