{% extends "main/layout.html" %}

{% block main %}
<div class="row">
      <div class="col-3">
        <aside>
          <img src="{% static 'main/img/dota2.png' %}" alt="Лого сайта">
          <span class='logo'> DotaProPlayers </span>
          <h3>Навигация</h3>
          <ul>
            <a href="{% url 'home' %}">
              <li><i class="fas fa-home"></i> Главная</li>
            </a>
            <a href="{% url 'about' %}">
              <li><i class="fas fa-address-card"></i> Про нас</li>
            </a>
            <a href="{% url 'dota2' %}">
              <li><i class="fas fa-poop"></i> Про Dota2</li>
            </a>
            <a href="{% url 'news_home' %}">
              <li><i class="fas fa-newspaper"></i> Говноновости</li>
            </a>
            <a href="{% url 'womens' %}">
              <li><i class="fas fa-female"></i> Женщины</li>
            </a>
            <a href="{% url 'create' %}">
              <li>
                <button class="btn btn-info"><i class="fas fa-plus-circle"></i> Добавить запись</button>
              </li>
            </a>
          </ul>
        </aside>
      </div>
      <div class="col">
          <div class="content">
              {% block content %} {% endblock %}
          </div>
      </div>
    </div>
{% endblock %}