{% extends "catalog/catalog.html" %}

{% block nav %}
    {% if categoryes %}
        <ul>
            {% for cat in categoryes %}
                <a href="#">
                  <li><h5>{{cat.name}}</h5></li>
                </a>
            {% endfor %}
        <ul>
    {% else %}
        <p>Категории не добавлены</p>
    {% endif %}
{% endblock %}

{% block content %}

    {% if products %}
        {% for p in products %}
          <div class="col-sm-4">
            <div class="card text-center border-primary mt-4" style="max-width: 540px;">
              <a href="#" class="btn btn-link">
                <img src="{{p.main_photo.url}}" class="card-img-top" alt="Изображение товара">
              </a>
              <div class="card-body">
                <h5 class="card-title">{{p.title}}</h5>
    <!--                    <p class="card-text">{{p.description|truncatechars:118}}</p>-->
                <p class="card-text">Цена: {{p.price}}</p>
                {% if p.availability %}
                  <p class="card-text">В наличии: {{p.amount}} шт</p>
                {% else %}
                  <p class="card-text">Нет в наличии</p>
                {% endif %}
    <!--                    <a href="#" class="btn btn-primary">Подробнее</a>-->
              </div>
            </div>
          </div>
        {% endfor %}
    {% else %}
        <h1>Нет товаров в каталоге</h1>
    {% endif %}

{% endblock %}


<!--{% block main %}-->
<!--<div class="row">-->
<!--  <div class="col-sm-3">-->
<!--    <aside>-->
<!--      <h3>Навигация</h3>-->
<!--      <ul>-->
<!--        <a href="{% url 'home' %}">-->
<!--          <li><i class="fas fa-home"></i> Главная</li>-->
<!--        </a>-->
<!--        <a href="{% url 'about' %}">-->
<!--          <li><i class="fas fa-address-card"></i> Про нас</li>-->
<!--        </a>-->
<!--        <a href="{% url 'dota2' %}">-->
<!--          <li><i class="fas fa-poop"></i> Про Dota2</li>-->
<!--        </a>-->
<!--        <a href="{% url 'news_home' %}">-->
<!--          <li><i class="fas fa-newspaper"></i> Говноновости</li>-->
<!--        </a>-->
<!--        <a href="{% url 'womens' %}">-->
<!--          <li><i class="fas fa-female"></i> Женщины</li>-->
<!--        </a>-->
<!--        <a href="{% url 'create' %}">-->
<!--          <li>-->
<!--            <button class="btn btn-info"><i class="fas fa-plus-circle"></i> Добавить запись</button>-->
<!--          </li>-->
<!--        </a>-->
<!--      </ul>-->
<!--    </aside>-->
<!--  </div>-->
<!--  <div class="col">-->
<!--    <div class="row">-->
<!--        {% if products %}-->
<!--            {% for p in products %}-->
<!--              <div class="col-sm-4">-->
<!--                <div class="card text-center border-primary mt-4" style="max-width: 540px;">-->
<!--                  <a href="#" class="btn btn-link">-->
<!--                    <img src="{{p.main_photo.url}}" class="card-img-top" alt="Изображение товара">-->
<!--                  </a>-->
<!--                  <div class="card-body">-->
<!--                    <h5 class="card-title">{{p.title}}</h5>-->
<!--&lt;!&ndash;                    <p class="card-text">{{p.description|truncatechars:118}}</p>&ndash;&gt;-->
<!--                    <p class="card-text">Цена: {{p.price}}</p>-->
<!--                    {% if p.availability %}-->
<!--                      <p class="card-text">В наличии: {{p.amount}} шт</p>-->
<!--                    {% else %}-->
<!--                      <p class="card-text">Нет в наличии</p>-->
<!--                    {% endif %}-->
<!--&lt;!&ndash;                    <a href="#" class="btn btn-primary">Подробнее</a>&ndash;&gt;-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            {% endfor %}-->
<!--        {% else %}-->
<!--            <p>Нет товаров в каталоге</p>-->
<!--        {% endif %}-->

<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--{% endblock %}-->