main {
    background: #C0C0C0;
}
aside {

    background: #C0C0C0;
    padding: 3%;
    height:80vh;
/*    color: #fff; */
}




/*
aside ul {list-style: none}

aside ul li {
    color: #fff;
    display: block;
    margin-top: 20px;
    transition: transform .6s ease;
}

aside ul li:hover, aside ul a:hover {
    color: #eb5959;
    text-decoration: none;
    transform: scale(1.05);
}
*/




